@import "./../../main.module.scss";
@import "./../../data//themes.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.protectieContainer {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100rem;
  margin: auto;
  box-sizing: border-box;
  @include media("<tablet") {
  }
  @include media(">=tablet", "<desktop") {
  }
}

.headTitle {
  padding-top: 90px;
  width: 100%;
  height: 360px;
  background: linear-gradient(rgba(35, 51, 15, 0.7), rgba(35, 51, 15, 0.7)),
    url("../../media/assets/pics/servicesImg/headBg.jpeg");
  background-size: cover;
  background-size: 100% 150%;
  color: rgba(253, 253, 253, 1);
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  display: grid;
  align-items: center;
  justify-content: center;
  align-self: center;
  @include media("<tablet") {
    height: 260px;
    font-size: 30px;
  }
  @include media(">=tablet", "<desktop") {
    height: 300px;
    font-size: 35px;
  }
}

.protecText {
  background-color: white;
  padding: 5% 8%;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;

  .boldText {
    font-weight: 600;
  }

  @include media("<tablet") {
    font-size: 10px;
  }
  @include media(">=tablet", "<desktop") {
    font-size: 12px;
  }
}
